<div class="main-container">
  <app-alert [isAppLevel]="true" [alerts]="alerts" (alertClosed)="alertClosed(alert)"></app-alert>
  <app-topbar *ngIf="getUser()"></app-topbar>

  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" class="nav-trigger--bottom" *ngIf="getMenuItems()?.length">
      <ng-container *ngFor="let item of getMenuItems()">
        <a *ngIf="item.type === 'link'" clrVerticalNavLink routerLink="./charmander"
           routerLinkActive="active">{{item.title}}</a>
      </ng-container>
    </clr-vertical-nav>
  </div>
</div>

