<div *ngIf="schema">
  <h1>
    <a [routerLink]="navigation.getNamespacesLinkByObject(namespace)">{{ namespace.namespace }}</a>
    / {{ schema.schema }}
  </h1>

  <clr-datagrid *ngIf="versions?.length">
    <clr-dg-column>Version</clr-dg-column>
    <clr-dg-column>Creation date</clr-dg-column>

    <clr-dg-row *ngFor="let version of versions" [clrDgItem]="version" [ngClass]="{ current: version.current }">
      <clr-dg-cell>
        <a [routerLink]="navigation.getNamespacesLinkByObject(namespace, schema, version)">{{version.version}}</a>
        <strong style="margin-left: 1rem" *ngIf="version.current">Recommended for version {{version.major}}</strong>
      </clr-dg-cell>
      <clr-dg-cell>{{version.createdOn | amTimeAgo}}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>{{versions.length}} versions</clr-dg-footer>
  </clr-datagrid>
</div>
