<div *ngIf="schema">
  <h1>
    <a [routerLink]="navigation.getNamespacesLinkByObject(namespace)">{{ namespace.namespace }}</a>
    / {{ schema.schema }}
  </h1>

  <clr-tabs>
    <clr-tab>
      <button clrTabLink>Versions</button>
      <clr-tab-content *clrIfActive>
        <div class="clr-row">
          <div class="clr-col-12 actions">
            <clr-button-group class="btn-primary">
              <clr-button *appHasPermission="['CREATE']; namespace namespace" (click)="createVersion.open()">Create
              </clr-button>
            </clr-button-group>
          </div>
        </div>

        <clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="state.isLoading">
          <clr-dg-placeholder>No versions found.</clr-dg-placeholder>
          <clr-dg-column [clrDgSortBy]="'version'">Version</clr-dg-column>
          <clr-dg-column [clrDgSortBy]="'createdOn'">Creation date</clr-dg-column>

          <clr-dg-row *ngFor="let version of state.data" [ngClass]="{ current: version.current }">
            <clr-dg-action-overflow *appHasPermission="['DELETE']; namespace namespace">
              <button class="action-item" (click)="deleteVersion.open(version)">Delete</button>
            </clr-dg-action-overflow>
            <clr-dg-cell>
              <a [routerLink]="navigation.getNamespacesLinkByObject(namespace, schema, version)">{{version.version}}</a>
              <strong style="margin-left: 1rem" *ngIf="version.current">Recommended for
                version {{version.major}}</strong>
            </clr-dg-cell>
            <clr-dg-cell>{{version.createdOn | amTimeAgo}}</clr-dg-cell>
          </clr-dg-row>

          <clr-dg-footer>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            of {{state.totalElements}} versions
            <clr-dg-pagination #pagination [clrDgTotalItems]="state.totalElements">
            </clr-dg-pagination>
          </clr-dg-footer>
        </clr-datagrid>
      </clr-tab-content>
    </clr-tab>
  </clr-tabs>
</div>

<app-modal-create-version #createVersion [schema]="schema"></app-modal-create-version>
<app-modal-delete-version #deleteVersion (onSuccess)="load()"></app-modal-delete-version>
