<div class="columns is-centered is-vcentered">
  <div class="column is-half has-text-right logo">
    <img src="/assets/blueprint.svg" alt="Blueprint">
  </div>
  <form class="column is-half" name="login">
    <div class="field">
      <div class="control has-icons-left">
        <input class="input is-success" name="username" type="text" placeholder="Username" [(ngModel)]="username">
        <app-icon-user></app-icon-user>
      </div>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" name="password" type="password" placeholder="Password" [(ngModel)]="password">
        <app-icon-password></app-icon-password>
      </p>
    </div>
    <div class="columns">
      <div class="column field">
        <p class="control">
          <button type="submit" class="button is-success" [class.is-loading]="isLoading" [@buttonState]="buttonState"
                  (click)="login()">
            Login
          </button>
        </p>
      </div>
      <div class="column is-two-thirds">
        <div class="is-pulled-right has-text-danger">{{message}}</div>
      </div>
    </div>
  </form>
</div>
