<div *ngIf="version">
  <h1>
    <a [routerLink]="navigation.getNamespacesLinkByObject(namespace)">{{ namespace.namespace }}</a>
    / <a [routerLink]="navigation.getNamespacesLinkByObject(namespace, schema)">{{ schema.schema }}</a>
    / {{ version.version }}
  </h1>

  <clr-tabs>
    <clr-tab>
      <button clrTabLink>Artifacts</button>
      <clr-tab-content *clrIfActive>
        <div class="clr-row">
          <div class="clr-col-12 actions">
            <clr-button-group class="btn-primary">
              <clr-button *appHasPermission="['CREATE']; namespace namespace" (click)="createArtifact.open()">
                Create
              </clr-button>
            </clr-button-group>
          </div>
        </div>

        <clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="state.isLoading">
          <clr-dg-placeholder>No artifacts found.</clr-dg-placeholder>
          <clr-dg-column [clrDgSortBy]="'filename'">Filename</clr-dg-column>
          <clr-dg-column [clrDgSortBy]="'filesize'">Size</clr-dg-column>

          <clr-dg-row *ngFor="let artifact of state.data">
            <clr-dg-action-overflow *appHasPermission="['DELETE']; namespace namespace">
              <button class="action-item" (click)="deleteArtifact.open(artifact)">Delete</button>
            </clr-dg-action-overflow>
            <clr-dg-cell>
              <a target="_blank" [href]="artifact.repositoryPath">{{artifact.filename}}</a>
            </clr-dg-cell>
            <clr-dg-cell>
              {{artifact.filesize | filesize}}
            </clr-dg-cell>
          </clr-dg-row>

          <clr-dg-footer>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            of {{state.totalElements}} artifacts
            <clr-dg-pagination #pagination [clrDgTotalItems]="state.totalElements">
            </clr-dg-pagination>
          </clr-dg-footer>
        </clr-datagrid>

      </clr-tab-content>
    </clr-tab>
  </clr-tabs>

  <app-modal-create-artifact #createArtifact [version]="version" (artifactCreated)="load()"></app-modal-create-artifact>
  <app-modal-delete-artifact #deleteArtifact (onSuccess)="load()"></app-modal-delete-artifact>
</div>
