<div *ngIf="version">
  <h1>
    <a [routerLink]="navigation.getNamespacesLinkByObject(namespace)">{{ namespace.namespace }}</a>
    / <a [routerLink]="navigation.getNamespacesLinkByObject(namespace, schema)">{{ schema.schema }}</a>
    / {{ version.version }}
  </h1>

  <clr-tabs>
    <clr-tab>
      <button clrTabLink>Artifacts</button>
      <clr-tab-content *clrIfActive>

        <clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="isLoading">
          <clr-dg-placeholder>No artifacts found.</clr-dg-placeholder>
          <clr-dg-column [clrDgSortBy]="'filename'">Filename</clr-dg-column>
          <clr-dg-column [clrDgSortBy]="'filesize'">Size</clr-dg-column>

          <clr-dg-row *ngFor="let artifact of artifacts">
            <clr-dg-cell>
              <a [href]="artifact.repositoryPath">{{artifact.filename}}</a>
            </clr-dg-cell>
            <clr-dg-cell>
              {{artifact.filesize | filesize}}
            </clr-dg-cell>
          </clr-dg-row>

          <clr-dg-footer>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            of {{totalArtifacts}} artifacts
            <clr-dg-pagination #pagination [clrDgTotalItems]="totalArtifacts">
            </clr-dg-pagination>
          </clr-dg-footer>
        </clr-datagrid>

      </clr-tab-content>
    </clr-tab>
  </clr-tabs>
</div>
