<nav class="panel">
  <div class="panel-heading">
    <div class="control has-icons-left">
      <input #searchInput class="input" type="text" placeholder="Search..." (keyup)="search(searchInput.value)">
      <span class="icon is-left"><fa-icon icon="search"></fa-icon></span>
    </div>
  </div>
  <section class="section namespace">
    <div class="tile is-ancestor" *ngFor="let namespace of namespaces$ | async">
      <div class="tile is-parent">
        <div class="tile is-child box">
          <p class="title has-text-primary">{{namespace.name}}</p>
          <div class="columns is-multiline">
            <ng-container *ngIf="namespace.schemas.length; else no_schemas">
              <div class="schema column is-one-third" *ngFor="let schema of namespace.schemas">
                <p class="is-size-3">{{schema.name}}</p>
                <ng-container *ngIf="schema.versions.length; else no_versions">
                  <a class="button" *ngFor="let version of schema.versions; let first = first"
                     [ngClass]="{ 'is-primary': first }">{{version.version}}</a>
                </ng-container>
                <ng-template #no_versions>
                  <span class="is-size-6 has-text-grey-light">No versions found</span>
                </ng-template>
              </div>
            </ng-container>
            <ng-template #no_schemas>
              <div class="schema column">
                <span class="is-size-6 has-text-grey-light">No schemas found</span>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </section>
</nav>
