<div *ngIf="namespace">
  <h1>
    {{ namespace.namespace }}
  </h1>

  <clr-tabs>
    <clr-tab>
      <button clrTabLink>Schemas</button>
      <clr-tab-content *clrIfActive>
        <clr-datagrid *ngIf="schemas?.length">
          <clr-dg-column>Schema</clr-dg-column>
          <clr-dg-column>Creation date</clr-dg-column>

          <clr-dg-row *ngFor="let schema of schemas">
            <clr-dg-cell>
              <a [routerLink]="navigation.getNamespacesLinkByObject(namespace, schema)">{{schema.schema}}</a>
            </clr-dg-cell>
            <clr-dg-cell>{{schema.createdOn | amTimeAgo}}</clr-dg-cell>
          </clr-dg-row>

          <clr-dg-footer>{{schemas.length}} schemas</clr-dg-footer>
        </clr-datagrid>
      </clr-tab-content>
    </clr-tab>
    <clr-tab>
      <button clrTabLink>History</button>
      <clr-tab-content *clrIfActive>
        Event log goes here
      </clr-tab-content>
    </clr-tab>
  </clr-tabs>
</div>
