<div class="card">
  <div class="card-header" *ngIf="!hideTitle">
    <a [routerLink]="navigation.getNamespacesLinkByObject(namespace)">{{ namespace.namespace }}</a>
  </div>
  <ng-container *ngIf="isLoadingComplete; else loading">
    <ng-container *ngIf="schemas?.length; else no_schemas">
      <div class="card-block" *ngFor="let schema of schemas">
        <div class="card-title">
          <a [routerLink]="navigation.getNamespacesLinkByObject(namespace, schema)">{{ schema.schema }}</a>
        </div>
        <div class="card-text">
          <ul *ngIf="getVersions(schema).length; else no_versions">
            <li *ngFor="let version of getVersions(schema)">
              <a
                [routerLink]="navigation.getNamespacesLinkByObject(namespace, schema, version)">{{ version.version }}</a>
            </li>
          </ul>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-template #loading>
  <div class="card-block">
    <div class="progress loop">
      <progress></progress>
    </div>
  </div>
</ng-template>

<ng-template #no_schemas>
  <div class="card-block">
    No schemas found.
  </div>
  <div class="card-footer">
    <button class="btn btn-sm btn-link">Create new schema</button>
  </div>
</ng-template>

<ng-template #no_versions>
  No versions found.
</ng-template>
