<nav class="navbar is-primary" role="navigation" aria-label="main navigation" *ngIf="user$ | async as user">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img src="/assets/blueprint.svg">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar"
       (click)="burgerClicked()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar" class="navbar-menu" [ngClass]="{ 'is-active': menuExpanded }">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/namespaces" routerLinkActive="is-active">
        Namespaces
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        Logged in as: {{user?.username}}
      </div>
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light" *appHasAuthority="'ROLE_ADMIN'">
            Admin
          </a>
          <a class="button" (click)="logout()">
            Log out
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
