<section class="section">
  <div class="columns">
    <div class="column is-one-fifth">
      <aside class="menu">
        <p class="menu-label">
          Configuration
        </p>
        <ul class="menu-list">
          <li><a>Linting</a></li>
          <li><a>Versioning scheme</a></li>
        </ul>
      </aside>
    </div>
    <div class="column" *ngIf="schema">
      <p class="title has-text-primary">
        <fa-icon icon="project-diagram"></fa-icon>
        {{schema.schema}}
      </p>
      <table class="table is-striped is-fullwidth" *ngFor="let vg of versionGroupKeys">
        <thead>
        <tr>
          <th style="width: 15em">Version</th>
          <th>Released</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let version of getVersions(vg)" [ngClass]="{ 'is-current-version': version.current }">
          <td>
            <a class="tags has-addons" [routerLink]="['/versions', version.id]">
              <span class="tag">{{version.version}}</span>
              <span class="tag is-success" *ngIf="version.current">current</span>
            </a>
          </td>
          <td>just now</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
