<section class="section">
  <div class="columns">
    <div class="column is-one-fifth">
      <aside class="menu">
        <p class="menu-label">
          Configuration
        </p>
        <ul class="menu-list">
          <li><a>Permissions</a></li>
          <li><a>Deployment keys</a></li>
        </ul>
      </aside>
    </div>
    <div class="column" *ngIf="namespace">
      <app-breadcrumbs [namespace]="namespace"></app-breadcrumbs>
      <div class="schema" *ngFor="let schema of schemas">
        <app-schema-summary [namespace]="namespace" [schema]="schema" [versions]="getVersions(schema)">
        </app-schema-summary>
      </div>

    </div>
  </div>
</section>
