<section class="section">
  <div class="columns">
    <div class="column is-one-fifth">
      <aside class="menu">
        <p class="menu-label">
          View
        </p>
        <ul class="menu-list">
          <li><a class="is-active">My namespaces</a></li>
          <li><a>Trusted namespaces</a></li>
          <li><a>View all</a></li>
        </ul>
      </aside>
    </div>
    <div class="column">
      <div class="columns">
        <div class="column">
          <app-breadcrumbs></app-breadcrumbs>
        </div>

        <!-- search bar -->
        <div class="column">
          <div id="search" class="control has-icons-left" [ngClass]="{ 'is-loading': spinner$ | async }">
            <input #searchInput class="input" type="text" placeholder="Search..." (keyup)="search(searchInput.value)">
            <app-icon-search></app-icon-search>
          </div>
        </div>
      </div>

      <div *ngIf="!(spinner$ | async)">
        <div class="tile is-ancestor" *ngFor="let namespace of namespaces">
          <div class="tile is-parent">
            <div class="tile is-child box">
              <div class="columns">

                <!-- namespace title -->
                <div class="column is-one-fifth">
                  <a class="title" [routerLink]="['/namespaces', namespace.namespace]">
                    <app-icon-namespace></app-icon-namespace>
                    {{namespace.namespace}}
                  </a>
                </div>

                <!-- schemas -->
                <div class="column is-multiline">
                  <ng-container *ngIf="getSchemas(namespace).length; else no_schemas">
                    <div class="schema" *ngFor="let schema of getSchemas(namespace)">
                      <app-schema-summary [namespace]="namespace" [schema]="schema" [versions]="getVersions(schema)">
                      </app-schema-summary>
                    </div>
                  </ng-container>
                  <ng-template #no_schemas>
                    <span class="is-size-6 has-text-grey-light">No schemas found</span>
                  </ng-template>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
