<div class="level">
  <div class="level-left">
    <div class="level-item is-size-4 is-link" [routerLink]="links.getNamespacesLinkByObject(schema.namespace, schema)">
      <a class="is-link">
        <app-icon-schema></app-icon-schema>
        {{schema.schema}}
      </a>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      <ng-container *ngIf="versions.length; else no_versions">
        <div class="field is-grouped is-grouped-multiline">
          <div class="control" *ngFor="let version of versions">
            <app-version-tag [schema]="schema" [version]="version"></app-version-tag>
          </div>
        </div>
      </ng-container>
      <ng-template #no_versions>
        <span class="is-size-6 has-text-grey-light">No versions found</span>
      </ng-template>
    </div>
  </div>
</div>
