.login-container {
  height: 50%;
  position: fixed;
  left: 50%;
  min-width: 40%;
}

.login-container .row {
  position: relative;
  left: -50%;
  top: 50%;
}

.application-version {
  position: fixed;
  right: 1em;
  bottom: 1em;
}
