<div class="login-container" *ngIf="loginOptions">
  <div class="row">
    <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
      <div class="card">
        <form name="login" clrForm>
          <div class="card-header">
            <img src="/assets/katalog-dark.svg">
          </div>
          <div class="card-block" *ngIf="loginOptions.type == 'FORM'">
            <app-alert [isAppLevel]="false" [alerts]="alerts"></app-alert>
            <div class="card-text">
              <clr-input-container>
                <label>Username</label>
                <input clrInput type="text" [(ngModel)]="username" name="username" id="username"/>
              </clr-input-container>
              <clr-password-container>
                <label>Password</label>
                <input clrPassword type="password" [(ngModel)]="password" name="password" id="password"/>
              </clr-password-container>
            </div>
          </div>
          <div class="card-footer" *ngIf="loginOptions.type == 'FORM'">
            <button [disabled]="!username?.length || !password?.length" id="login" type="submit" class="btn btn-primary"
                    [clrLoading]="submitState" (click)="login()">
              login
            </button>
          </div>
          <div class="card-footer" *ngIf="loginOptions.type == 'OAUTH2'">
            <button type="submit" class="btn btn-primary" [clrLoading]="submitState" (click)="loginOAuth2()">
              login with {{loginOptions.oauth2ProviderName}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="application-version p7" *ngIf="applicationVersion">Version: {{applicationVersion.version}}
  (built {{applicationVersion.buildTime | amTimeAgo}})
</div>
